.head-two-link-optional {
	font-family: Nunito, sans-serif !important;
	display: block;
	color: #eeeeee;
	font-size: 18px;
}

.head-two-link-optional:hover {
	color: white;
}

.head-two-link {
	font-family: Nunito, sans-serif !important;
	color: #eeeeee;
	font-size: 18px;
}

.head-two-link:hover {
	color: white;
}

@media (max-width: 1024px) {
	.head-two-link-optional {
		display: none;
	}

	.head-two-link {
		color: black;
		font-size: 16px;
	}

	.head-two-link:hover {
		color: black;
	}
}
