@import url('https://fonts.googleapis.com/css?family=Raleway:600');

.review-dash-header {
	margin-left: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 10px 0px 0;
	font-weight: bold;
	flex: 1;
}

.review-dash {
	width: 100vw;
}

@media only screen and (min-width: 1280px) {
	/* For desktop: */
	.review-dash {
		width: 85vw;
	}
}

@media only screen and (min-width: 1440px) {
	/* For desktop: */
	.review-dash {
		width: 80vw;
	}
}
