$background-color: #fff;
$border-color: #dcdae0;
$border-radius: 5px;
$spacing: 8px;
$continue-button-background-color: #5abc71;
$primary-color: rgb(66, 154, 221);

.start-practice-session {
	&-root {
		display: flex;
		min-height: 94vh;
		align-items: center;
		justify-content: center;
		font-family: Roboto, 'Open Sans', sans-serif;
	}
	&-content {
		margin: $spacing;
		border: solid 1px $border-color;
		border-radius: $border-radius;
		min-width: 300px;
		&-wrapper {
			overflow: auto;
		}
	}
	&-root.is-loading &-content {
		border: none;
	}
	&-loading {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&-failed {
		display: flex;
		flex-direction: column;
		.error-message {
			color: #ec564e;
			padding: 2 * $spacing;
			font-size: 1.2em;
		}
		.action-list {
			display: flex;
			flex-wrap: wrap;
			padding: 2 * $spacing 2 * $spacing $spacing;
			border-top: solid 1px $border-color;
			.button {
				background: transparent;
				border: solid 1px $border-color;
				border-radius: $border-radius;
				padding: $spacing 2 * $spacing;
				font-size: 1.2em;
				text-transform: uppercase;
				color: inherit;
				cursor: pointer;
				margin: 0 2 * $spacing $spacing 0;

				&.primary {
					background: $primary-color;
					color: #fff;
					border: none;
				}
			}
		}
	}
}
