.session-selectivity-options {
	.button-list {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 8px 16px;
		border-radius: 8px;
		margin-bottom: 12px;
		margin-top: 12px;
		label {
			display: none;
			align-items: center;
			padding: 8px 0;
			cursor: pointer;
			legend {
				color: #000;
				margin-left: 8px;
				font-size: 1.05em;
				margin-bottom: 0;
			}
		}
		.button {
			background-color: #fff;
			border: solid 1px #e0e0e0;
			height: 64px;
			width: 64px;
			padding: 0;
			border-radius: 32px;
			font-size: 24px;
			outline: none;
			cursor: pointer;
			&.selected {
				box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
			}
			&.green {
				color: #4caf50;
				border-color: #4caf50;
			}
			&.red {
				color: #ff5722;
				border-color: #ff5722;
			}
			&.green.selected {
				background-color: #4caf50;
				color: white;
			}
			&.red.selected {
				background-color: #ff5722;
				color: white;
			}
			&.disabled {
				cursor: not-allowed;
				color: gray;
				border-color: gray;
			}
		}
	}
}
