.learning-center-video {
	.playlist-with-player {
		display: flex;
		flex-direction: column;
		.suggestion-list {
			padding: 16px;
			display: none;
		}
		.video-title {
			font-size: 1.2rem;
			color: #222;
			padding: 8px;
			margin: 0;
		}
		.video-description {
			font-size: 1rem;
			white-space: pre-line;
			padding: 8px;
			padding-top: 0;
		}
		.video-desciption-link,
		a {
			color: #2196f3;
			&:hover {
				text-decoration: underline;
			}
		}
		@media (min-width: 900px) {
			flex-direction: row;
			justify-content: space-between;
			.suggestion-list {
				display: block;
				padding: 0 16px;
			}
		}
	}
}
