.playlist {
	$root: &;
	margin-bottom: 16px;
	border-bottom: solid 1px #eee;
	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
	&s {
		&-root {
			width: 100%;
		}
		&-group-title {
			margin-left: 24px;
			margin-top: 12px;
			font-weight: bold;
			font-size: 22px;
			margin-bottom: -8px;
		}
	}
	&-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 8px;
	}
	&-title {
		font-size: 1.75rem;
		margin-top: 8px;
		margin-bottom: 8px;
		font-weight: 400;
		margin-left: 24px;
	}
	&-group {
		position: relative;
		padding-bottom: 16px;
		&:after {
			position: absolute;
			bottom: 0;
			left: 16px;
			width: 90%;
			border-bottom: solid 1px #eee;
			content: ' ';
		}
		&-title {
			margin-top: 6px;
			margin-left: 24px;
			font-size: 20px;
			font-weight: 400;
		}
		&-description {
			display: none;
		}

		&-item {
			width: 231px;
			&[data-parent-dir='horizontal'] {
				margin: 0 16px;
			}
			&[data-parent-dir='vertical'] {
				margin: 0 0 16px 0;
			}
			&-title {
				font-size: 1rem;
				font-weight: normal;
				margin-bottom: 0;
				margin-top: 4px;
				line-height: normal;
			}
			&-thumbnail {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				display: none;
				&-container {
					display: block;
					position: relative;
					height: 130px;
					min-height: 130px;
					max-width: 231px;
					min-width: 231px;
					width: 231px;
					overflow: hidden;
					background-size: cover;
					background-repeat: no-repeat;
					.cover-image {
						height: inherit;
						width: inherit;
						background-size: cover;
					}
					&:hover {
						.play-icon {
							opacity: 1;
						}
					}
					.play-icon {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -24px;
						margin-top: -24px;
						z-index: 5;
						opacity: 0;
						transition: opacity ease 100ms;
						width: 48px;
						height: 48px;
						color: #fff;
						font-size: 24px;
						svg {
							width: 48px;
							height: 48px;
						}
					}
				}
			}
			&.disabled &-thumbnail-container:hover {
				cursor: not-allowed;
				.play-icon {
					opacity: 0;
				}
			}
			&-list {
				display: flex;
				width: 100%;
				overflow-x: auto;
				padding: 0 8px;
				&-container {
					padding-right: 16px;
				}
			}
		}
		&-list {
			display: flex;
			flex-direction: column;
		}
	}
	&.theme {
		&__Magic #{$root}-group {
			background: #f0f2f5;
			border-radius: 8px;
			margin-bottom: 16px;
			&-title {
				font-weight: bold;
				margin-top: 12px;
				color: rgb(0, 21, 41);
				font-size: 22px;
			}
			&-list {
				padding: 16px;
			}
			&-item {
				&-title {
					margin-top: 8px;
				}
			}
		}
		&__VerticalList {
			#{$root}-group {
				padding-bottom: 0;
				background: #f0f2f5;
				&-item {
					width: 100%;
					display: flex;
					position: relative;
					margin: 0;
					margin-bottom: 12px;

					&-description {
						display: block;
						// margin-left: 8px;
						margin-top: 8px;
						overflow: hidden;
					}
					&-thumbnail {
						&-container {
							height: 100px;
							width: 176px;
							min-width: 176px;
							min-height: 100px;
							.cover-image {
								background-size: cover;
								position: absolute;
								$pad: 15%;
								top: $pad;
								bottom: $pad;
								left: $pad;
								right: $pad;
								width: auto;
								height: auto;
							}
						}
					}
					&-info-container {
						padding-left: 0px;
						position: relative;
						min-width: 0;
						&:after {
							content: ' ';
							min-width: 90%;
							display: inline-block;
							position: absolute;
							bottom: 0;
							left: 10%;

							border-bottom: solid 1px #e0e5ea;
						}
					}
					&-list {
						flex-direction: column;
						padding: 0;
						&-container {
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
	&-preview {
		margin: 16px;
		$self: &;
		position: relative;
		&__width-restriction {
			width: 231px;
		}
		&-thumbnail {
			height: 130px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		&__action-view-demo {
			background-color: transparent;
			padding: 8px;
			color: #fff;
			text-align: center;
			border-radius: 4px;
			border: solid 1px #2196f3;
			color: #2196f3;
			margin-top: 4px;
			display: none;
			transition: box-shadow ease 300ms;
			&.visible {
				display: block;
			}
			&:hover,
			&:focus {
				box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.25);
			}
		}
		&-action-icon {
			color: inherit;
			margin-right: 4px;
			font-size: 1rem;
			&-button {
				color: #fff;
				font-weight: 400;
				position: absolute;
				top: 12px;
				right: 12px;
				background: rgba(0, 0, 0, 0.25);
				backdrop-filter: blur(10px) opacity(0.7);
				border: none;
				outline: none;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				padding: 0 8px;
				// width: 36px;
				border-radius: 4px;
				cursor: pointer;
				&.full {
					height: 33%;
					width: 100%;
					border-radius: 12px 12px 0 0;
					border-radius: 0;
					top: 0;
					right: 0;
				}
			}
		}
		&-title {
			font-size: 1.1rem;
			margin-top: 4px;
		}
		&.theme__EverythingInTheBox {
			border-radius: 12px;
			#{$self}-thumbnail {
				background-size: 72px 72px;
				background-position: center center;
			}
			#{$self}-title {
				color: #fff;
				text-align: center;
				margin-top: -16px;
				margin-bottom: 8px;
				font-size: 18px;
				font-weight: bold;
			}
			#{$self}-action-icon-button.full {
				border-radius: 12px 12px 0 0;
			}
			#{$self}__action-view-demo {
				display: none;
			}
		}
		@media (max-width: 800px) {
			margin: 12px;
			&.theme__EverythingInTheBox {
				#{$self}-thumbnail {
					background-size: 64px 64px;
				}
				#{$self}-title {
					font-size: 16px;
					margin-top: -16px;
					font-weight: bold;
				}
			}
			&__width-restriction {
				width: 213px;
			}
			&-thumbnail {
				height: 120px;
			}
		}
		@media (max-width: 600px) {
			margin: 8px;
			&__width-restriction {
				width: 213px;
			}
			&-thumbnail {
				height: 122px;
			}
			&.theme__EverythingInTheBox {
				#{$self}-thumbnail {
					background-size: 56px 56px;
				}
				#{$self}-title {
					font-size: 14px;
					margin-top: -12px;
					font-weight: 500;
				}
			}
		}
	}
}

.content-wrapper.no-margin {
	.playlist {
		&-preview {
			@media (max-width: 600px) {
				&__width-restriction {
					width: 226px;
				}
				&-thumbnail {
					height: 126px;
				}
			}
		}
	}
}
