.side-navigation,
.full-navigation {
	display: none;
	@media only screen and (min-width: 900px) {
		display: block;
	}
	.link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: inherit;
		text-decoration: none;
		font-size: 14px;
		height: 40px;
		padding-left: 24px;
		padding-right: 6px;
		margin: 8px 0;
		.icon {
			margin-right: 10px;
			font-size: 20px;
			display: inline-flex;
		}
		&.active {
			background-color: rgb(232, 246, 255);
			color: rgb(26, 115, 232);
		}
	}
	.ant-divider {
		margin-bottom: 8px;
		margin-top: 16px;
	}
	&.collapsed {
		.ant-divider {
			margin-top: 8px;
		}
		.link {
			justify-content: center;
			padding-left: 6px;
			margin: 0;
			.icon {
				margin-right: 0;
			}
		}
	}
}

.full-navigation {
	.link {
		height: 48px;
		font-size: 22px;
		.icon {
			font-size: 26px;
			margin-right: 16px;
		}
	}
}
