@import url('https://fonts.googleapis.com/css?family=Raleway:600|Roboto|Red+Hat+Display:400,500,700,900');

.custom-button-round {
	width: 50px;
	height: 50px;
	padding: 0 !important;
	min-width: 0px !important;
	border-radius: 10000px !important;
	outline: none !important;
}

.custom-button-round:focus {
	outline: none !important;
}

.custom-button-submit {
	background-color: #039be5 !important;
}

.custom-radio-button-active {
	color: #039be5 !important;
	height: auto !important;
	width: auto !important;
}

.custom-radio-button-inactive {
	color: #bababa !important;
	height: auto !important;
	width: auto !important;
}

.MuiSvgIcon-root-57 {
	width: 20px !important;
	height: 20px !important;
}

.custom-text-area-edit {
	resize: none;
	padding: 5px;
	outline: none;
	width: 100%;
}

.custom-text-area-edit:focus {
	outline: none;
}

.edit-header {
	font-family: 'Raleway', sans-serif;
	padding: 10px 5px;
	font-size: 17px;
	font-weight: bold;
}

.question-card .ant-card-head {
	padding: 8px 28px;
	background-color: #fbfdfd;
}

.practice-question-card {
	background: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	/* box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);*/
	border: solid 1px #dadce0;
	border-radius: 5px;
	overflow: hidden;
}

.practice-question-card .header {
	display: flex;
	align-items: center;
	padding: 15px 20px;
	background-color: #fff;
	border-bottom: solid 1px #dadce0;
	font-family: sans-serif;
}

.practice-question-card .header .topic-subtopic {
	flex: 1;
	font-size: 18px;
	font-weight: 500;
	color: #333;
	font-family: 'Red Hat Display';
}

.practice-question-container {
	color: #000;
	background: #fff;
	font-family: 'Red Hat Display', 'Helvetica', 'Arial', 'Sans-serif';
	font-weight: normal;
	line-height: 1.6;
	font-size: 16px;
}

.practice-question-content {
	padding: 15px 20px;
	border-bottom: solid 1px #eee;
}

.practice-question-option {
	display: flex;
	flex-wrap: nowrap;
	border-bottom: solid 1px #eee;
	align-items: baseline;
	padding: 20px 30px;
	color: #333;
}

.practice-question-option.can-select {
	cursor: pointer;
}

.practice-question-option.is-correct {
	background: #93c572;
}
